.wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;

  .button_block {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 20px 93px;
    button {
      border: none;
      background: transparent;
      font-family: Montserrat;
      font-weight: normal;
      font-size: 14px;
      color: #ffffff;
      cursor: pointer;
    }
  }

  .link_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 93px;
    border-bottom: 1px solid white;
    
     .border{
       height: 60px;
       border-right: 1px solid white;
     }
    p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      color: #ffffff;
      text-transform: uppercase;
      margin: 0;
    }

    &__social {
      display: flex;
      align-items: center;
      button {  
        
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        width: 22.75px;
        height: 15.92px;
        &:not(:last-child){
          margin-right: 37px;
        }
        img {
          width: inherit;
          height: inherit;
          fill: red;
          
        }
        
      }
      
    }



    }

    // background-color: #998431;

    // ul{
    //   border: 1px solid black;
    //   display: flex;
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: center;
    //   margin: 0;
    //   padding: 0;
    //   li{
    //     display: flex;
    //    padding: 20px 0;
    //     list-style-type: none;
    //     &:not(:last-child){
    //       border-right: 1px solid white;
    //     }
    //     &:not(:first-child){
    //       border-left: 1px solid white;
    //     }
    //   }
    // }

}

.footer {
  background: #998431;
  display: flex;
  align-items: center;
  padding: 50px 0;
}





